body {
    font-family: var(--base-font);
    font-size: var(--base-font-size);
}

#main {
    @apply text-gray-300;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-white;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
    margin-top: 2rem;
}

p + * {
    margin-top: 1.5em;
}

#main ul, #main ol {
    padding-left: 1.5em;
}

#main ol {
    list-style-type: decimal;
}

#main ul {
    list-style-type: disc;
}

#main ul + *, #main ol + * {
    margin-top: 1.5em;
}

#main ul li + *, #main ol li + * {
    margin-top: 0.25em;
}
